alabaster==0.7.12
appdirs==1.4.4
argh==0.26.2
arrow==0.13.1
async-generator==1.10
atomicwrites==1.4.0
bkcharts==0.2
black==19.10b0
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2020.12.5
clyent==1.2.2
comtypes==1.1.9
contextlib2==0.6.0.post1
cycler==0.10.0
cytoolz==0.11.0
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
future==0.18.2
gmpy2==2.0.8
gunicorn==20.1.0
h5py==2.10.0
HeapDict==1.0.1
inflection==0.5.1
itsdangerous==1.1.0
jdcal==1.4.1
json5==0.9.5
jupyter==1.0.0
llvmlite==0.36.0
locket==0.2.1
mccabe==0.6.1
menuinst==1.4.16
mkl-fft==1.3.0
mkl-service==2.3.0
mpmath==1.2.1
multipledispatch==0.6.0
mypy-extensions==0.4.3
olefile==0.46
parso==0.7.0
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pkginfo==1.7.0

ply==3.11
pycosat==0.6.3
pycrypto==2.6.1
pycurl==7.43.0.6
pyodbc===4.0.0-unsupported
pyreadline==2.1

pytest==6.2.3
pywin32==227

pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
QtPy==1.9.0
scikit-image==0.18.1
scikit-learn==0.23.2
simplegeneric==0.8.1


statsmodels==0.12.2

tables==3.6.1

terminado==0.9.4
text-unidecode==1.3
unicodecsv==0.14.1
webencodings==0.5.1


widgetsnbextension==3.5.1

win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1


xlwings==0.23.0
xlwt==1.3.0

zict==2.0.0

zope.event==4.5.0

